@{
    ViewData["Title"] = "Home Page";
}


<div class="carousel-wrapper">
    <div class="carousel">
        <img class="carousel__photo initial" src="~/images/can.jpg">
        <img class="carousel__photo" src="~/images/Bird.jpg">


        <div class="carousel__button--next"></div>
        <div class="carousel__button--prev"></div>


    </div>
</div>


<!--
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -
<ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="sales" class="active"></li>
    <li data-target="#demo" data-slide-to="can"></li>
    <li data-target="#demo" data-slide-to="Bird"></li>
    <li data-target="#demo" data-slide-to="purpleFlower"></li>
    <li data-target="#demo" data-slide-to="yellowFlower"></li>
</ul>

<!-- The slideshow -
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="~/images/sales.jpg" alt="sales">
    </div>

    <div class="carousel-item">
        <img src="~/images/can.jpg" alt="can" />
    </div>

    <div class="carousel-item">
        <img src="~/images/Bird.jpg" alt="Bird" />
    </div>

    <div class="carousel-item">
        <img src="~/images/purpleFlower.jpg" alt="purpleFlower" />
    </div>

    <div class="carousel-item">
        <img src="~/images/yellowFlower.jpg" alt="yellowFlower" />
    </div>
</div>

<!-- Left and right controls --
<a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
</a>

<a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
</a>

        </div>
    -->
